##---------------------------------------------------
# Project specific .gitignore files
##---------------------------------------------------

checkpoints/
data/
wandb/
*.out
*.pid


##---------------------------------------------------
# Generic .gitignore files
##---------------------------------------------------

**__pycache__
*.egg-info
.eggs
/.coverage
**.DS_Store
